// -----------------------------------------------------------------------------
// This file contains all styles related to the CatCardInterface component.
// -----------------------------------------------------------------------------

.cat-card-interface {
  // background-color: rgb(220, 9, 188);
  height: 700px;
  width: 700px;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .cat-card-interface-loading {
// }
