// -----------------------------------------------------------------------------
// This file contains all styles related to the CatCard component.
// -----------------------------------------------------------------------------

.cat-card-container {
  background-color: rgb(17, 155, 253);
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .cat-card {
    background-color: rgb(17, 253, 68);
    border-radius: 5%;
    height: 450px;
    width: 295px;

    .cat-card-image {
      overflow: hidden;
      top: 0;
      height: 50%;
      border-radius: 5% 5% 0 0;
      background-color: red;
      display: flex;
      justify-content: center;
      > img {
        height: 100%;
      }
    }
    .cat-card-fact {
    }
  }
}
